@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html, body {
	margin: 0;
	padding: 0;
	background: #f7f7f7;
	font-family: 'Montserrat', sans-serif;
}

hr {
	width: 100%;
}

nav {
	background: linear-gradient(90deg, rgba(82,255,0,0.7763480392156863) 0%, rgba(0,219,255,1) 100%);
	margin-bottom: 3vh;
	padding: .8%;
	box-shadow: 0px 3px 10px 3px rgba(0,0,0,0.11);
}

.logo {
	color: #fff;
	font-size: 2rem;
	margin: 0;
}

.graph {  
	width: 100%;
	min-height: 60vh;
	font-size: 1.5rem;
	margin: 2vh 0;
	border: 3px solid;
	border-image: linear-gradient(
         to right, 
         rgba(0,224,18,1), 
         rgba(0,249,255,1)
      ) 0 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

footer {
	margin-top: 25px;
	width: 100%;
}

footer img {
	height: 10vh;
}